{% extends 'base.html.twig' %}

{% block body %}

<div class = "container">
    <h1 class = "text-center text-danger">Event edit</h1>

    {{ form_start(edit_form) }}
    
    
    {{ form_widget(edit_form) }}
        <input class="btn btn-success form-inline mb-4" style ="width: 100px" role="button"  type="submit" value="Edit" />
    {{ form_end(edit_form) }}
  
    
    </div>
{% endblock %}
